Protocol
.env
.ipynb_checkpoints
data
temp.txt
file_cache.pkl
mini1.zip
questions.csv
try
uploaded_pdfs
mini
_pycache_
Faiss
new_bm25.pkl
uploads
app.log
bm25.pkl
faiss_index
29173_h00/
scratch
f
new.pkl